<div class="view">
    <input type="checkbox" class="toggle" {{checked}}>
    <label>{{title}}-mustache</label>
    <button class="destroy"></button>
</div>
<input type="text" class="edit" value="{{title}}">